@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot');
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/gilroy-medium.woff2') format('woff2'), 
		url('../fonts/gilroy-medium.woff') format('woff'), 
		url('../fonts/gilroy-medium.ttf') format('truetype'), 
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); 
}

.background {
    background-image: url('https://kappa.lol/8lDxV');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.display-1, .nav-link  {
	font-family: 'Gilroy-Medium';
	color: #D8D9DA;
	text-align: center;
}

.nav-link:hover {
	color: #6c757d
}

