@font-face {
	font-family: 'Gilroy-Medium';
	src: url('../fonts/gilroy-medium.eot'); 
	src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/gilroy-medium.woff2') format('woff2'),
		url('../fonts/gilroy-medium.woff') format('woff'), 
		url('../fonts/gilroy-medium.ttf') format('truetype'), 
		url('../fonts/gilroy-medium.svg#gilroy-medium') format('svg'); 
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('../fonts/gilroy-regular.eot'); 
	src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/gilroy-regular.woff2') format('woff2'), 
		url('../fonts/gilroy-regular.woff') format('woff'), 
		url('../fonts/gilroy-regular.ttf') format('truetype'), 
        url('../fonts/gilroy-regular.svg#gilroy-regular') format('svg'); 
}

body {
    background-color: #F8F9FA;
    color: #343A40;
    font-family: 'Gilroy Regular', sans-serif;
}

.navbar a {
    color: #343A40;
}

.h1 {
    font-size: 25px;
    text-decoration: none;
}

.display-2 {
    font-family: 'Gilroy Medium', sans-serif;
}

.menu {
    border-bottom: 1px solid #343A40;
    font-family: 'Gilroy Medium', sans-serif;
}

.container img {
    max-width: 800px;
    width: 100%;
}

.container video {
    max-width: 500px; 
    width: 100%;
}

.container .row{
    display: flex;
    align-items: center;
}

.container fieldset {
    background-color: #E9ECEF;
}

footer .container {
    border-top: 1px solid #343A40;
}






