body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
}

form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px 15px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

form button:hover {
    background-color: #27ae60;
}

.filter-form, .sorting-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-form input, .sorting-form select, .sorting-form button {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.filter-form button, .sorting-form button {
    background-color: #3498db;
}

.filter-form button:hover, .sorting-form button:hover {
    background-color: #2980b9;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 15px;
    margin-bottom: 10px;
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

ul li strong {
    flex-grow: 1; 
    text-align: left;
}

ul li span {
    margin-left: auto; 
    text-align: right;
}

ul li .button-link,
ul li form button {
    margin-left: 10px; 
}

.button-link {
    text-decoration: none;
    padding: 3px ;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.button-link:hover {
    background-color: #2980b9;
}

form[style="display: inline;"] button {
    background-color: #e74c3c;
}

form[style="display: inline;"] button:hover {
    background-color: #c0392b;
}

a {
    text-decoration: none;
    color: #3498db;
    margin: 5px;
}

a:hover {
    text-decoration: underline;
}

